<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <title>AlinhamentoOffset</title>
</head>
<body>

    <h1 class="text-center display-4">AlinhamentoOffset</h1>
    <hr>

    <div class="container-fluid bg-warning" style="height:200px">
        <section class="row">
            <div class="col bg-success align-self-lg-start">Coluna</div>
            <div class="col bg-success">Coluna</div>
            <div class="col bg-success">Coluna</div>
        </section>
    </div>
    <br>
    <div class="container-fluid bg-warning" style="height:200px">
        <section class="row justify-content-center">
            <div class="col-3 bg-success align-self-lg-start">Coluna</div>
            <div class="col-3 bg-success">Coluna</div>
        </section>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>