<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <title>Cards</title>
</head>
<body>

    <h1 class="text-center display-4">Cards</h1>
    <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="card col-3 m-auto">
                <img src="~/imagens/itil.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">ITIL Fundation</h5>
                    <p class="card-text">d ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi arch</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            <div class="card col-3 m-auto">
                <img src="~/imagens/itil.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">ITIL Fundation</h5>
                    <p class="card-text">d ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi arch</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            <div class="card col-3 m-auto">
                <img src="~/imagens/itil.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">ITIL Fundation</h5>
                    <p class="card-text">d ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi arch</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>

   

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>