<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <title>Figure</title>
</head>
<body>

    <h1 class="text-center display-4">Figure</h1>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 offset-4">
                <figure >
                    <img src="~/imagens/itil.jpg" class="figure-img img-fluid" />
                    <figcaption class="figure-caption text-center">
                        Este curso de duração de 4 meses, somente aos finais de semana, sendo 1 final de semana por mês (sábado integral e domingo pela manhã), oferece todo conhecimento para os alunos e gestores, que desejam compreender ao todo, como funciona os projetos de smart cities.
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>