<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/31b23d989d.js"></script>

    <title>Fonte Awesome</title>
</head>
<body>

    <h1 class="text-center display-4">Fonte Awesome</h1>
    <hr>

    <div class="container-fluid">
        <div class="text-center">
            <section class="btn-group">
                <a href="#" class="btn btn-secondary btn-lg"><i class="fab fa-angrycreative"></i></a>
                <a href="#" class="btn btn-secondary"><i class="fas fa-apple-alt"></i></a>
                <a href="#" class="btn btn-secondary"><i class="fas fa-atom"></i></a>
            </section>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>