<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <title>Grid</title>
</head>
<body>

    <h1 class="text-center display-4">Sistemas de Grid</h1>
    <hr>

    <section class="container">
        <section class="row">
            <div class="col bg-primary">Coluna</div>
            <div class="col bg-primary">Coluna</div>
            <div class="col bg-primary">Coluna</div>
            <div class="col bg-primary">Coluna</div>
            <div class="col bg-primary">Coluna</div>
            <div class="col bg-primary">Coluna</div>
            <div class="col bg-primary">Coluna</div>
            <div class="col bg-primary">Coluna</div>
            <div class="col bg-primary">Coluna</div>
            <div class="col bg-primary">Coluna</div>
            <div class="col bg-primary">Coluna</div>
            <div class="col bg-primary">Coluna</div>
        </section>

        <section class="row">
            <div class="col bg-info">Coluna</div>
            <div class="col bg-info">Coluna</div>
            <div class="col bg-info">Coluna</div>
            <div class="col bg-info">Coluna</div>
            <div class="col bg-info">Coluna</div>
            <div class="col bg-info">Coluna</div>

        </section>

        <section class="row">
            <div class="col-8 bg-danger">Coluna</div>
            <div class="col-4 bg-danger">Coluna</div>
        </section>
    </section>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>