<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <title>Login Americanas</title>
</head>
<body>

    <h1 class="text-center display-4">Login Americanas</h1>
    <hr>


    <div class="container-fluid">

        <form >
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" aria-describedby="Email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="Senha">Email address</label>
                <input type="password" class="form-control" id="Senha" aria-describedby="Senha" placeholder="Senha">
            </div>
            <div class="row">
                <input type="button" class="btn btn-lg btn-danger justify-content-center" value="Continuar" />
            </div>

        </form>

    </div>


    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>