<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <title>Tabelas</title>
</head>
<body>

    <h1 class="text-center display-4">Tabela</h1>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</thscope="col">
                        <th scope="col">Idade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-success">
                        <td>1</td>
                        <td>Ana</td>
                        <td>21</td>
                    </tr>
                    <tr class="table-warning">
                        <td>2</td>
                        <td>Paula</td>
                        <td>17</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Claudia</td>
                        <td>27</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>