@media (min-width: 576px) {
    body {
        background-color: gray
    }
}

@media (min-width: 768px) {
    body {
        background-color: red
    }
}

@media (min-width: 992px) {
    body {
        background-color: blue
    }
}

@media (min-width: 1200px) {
    body {
        background-color: yellow
    }
}
